.footer {
    position: relative;
    bottom: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    
}

.footer1 {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

    padding: 20px 45px 0;
}

.footer-right {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    
}

.logo p {
    display: flex;
    table-layout: fixed;
    left: 3%;
    top: 3%;
    width: 300px;
    color: #bbb;
}


.title-contact p {

    color: #545454;
}

.data-contact p {
    color: #bbb;
}

.networks {
    width: 45%;
    float: right;
    text-align: center;


}

.icons-network {
    min-width: 150px;
}

.networks p {

    color: #545454;
}

.icons-network p {
    color: #bbb;
}

.copyright {
    display: flow-root;
    height: 40px;
    width: 100%;
    background-color: #efefef;
}

.copyright p {
    color: #bbb;

}

