header {
    width: 100%;
    position: fixed;
    Top: 0;
    Left: 0;
    z-index: 999;
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.menu .logo {
    width: 120px;
}

.menu .menu-right {
    display: flex;
    align-items: center;
}

.menu a {
    color: #fff;
    display: flex;
    font-family: "Myriad Pro", Arial;
    font-size: 14px;
    padding: 10px 0;
    margin-top: -10%;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0, 0, 0.3);
}

#txtSearch {
    border: solid 2px #bbb;
    border-radius: 50px;
    width: 117px;
    height: 25px;
    position: absolute;
    left: 48%;
    top: 25%;
    padding-left: 5px;
    font-style: italic;
    font-size: 14px;
    background-image: url(images/search.png);
    background-color: #efefef;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 10%;
    padding-right: 5%;
}

.border {
    position: absolute;
    left: 68%;
    top: 20%;
    border-left: 2px solid #efefef;
    width: 10px;
    height: 80%;
}

.profile {
    background-color: #aaa;
    border: gray 2px solid;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    position: absolute;

}

.profile-container {
    width: 50px;
    height: 60px;
}

.profile img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;

}

.img {
    width: 100px;
    height: 100px;
}

.welcome {
    font-size: 12px;
    color: #bbb;
}

.name {
    color: #545454;
    font-size: 14px;
}

.down-arrow:before {
    content: "";
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
}

@media (max-width: 425px) {
    #dropdown{
        margin-left: 50%;
    }
}
@media (max-width: 320px) {
    #dropdown{
        margin-left: 45%;
    }
}
@media (max-width: 425px) {
    #txtSearch, .welcome, .name{
        display: none;
    }
}
@media (max-width: 768px) {
    #txtSearch{
        margin-left: -2%;
    }
    .welcome, .name{
        margin-left: 2%;
    }
    .title{
        width: 80%;
    }
    .box{
        width: 60%;
    }
}

.login {
    display: none;
}