header {
    width: 100%;
    position: fixed;
    Top: 0;
    Left: 0;
    z-index: 999;
}

nav {
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    border-radius: 4px;
    background: white;
}

.menu {
    display: flex;
    table-layout: fixed;
    float: left;
    transition: all .5s ease;
}

.menu li {
    display: table-cell;
    overflow: hidden;

}

.menu li:first-child {
    border-left: none;
}

.menu li:first-child:hover {
    border-left: none;

}

.menu li a {
    color: #fff;
    display: flex;
    font-family: "Myriad Pro", Arial;
    height: 50px;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0, 0, 0.3);
}

.menu li:hover {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;

}

#logo {
    margin-top: 3%;
    margin-left: 3%;

}

#txtSearch {
    border: solid 1px;
    border-radius: 50px;
    width: 200px;
    height: 40px;
    margin-left: 200%;
    margin-top: 5%;
    float: left;
    padding-left: 5px;
    font-style: italic;
    font-size: 14px;
    background-image: url(images/search.png);
    background-color: #efefef;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 10%;
    padding-right: 5%;
}
.border{
    position: fixed;
    margin-left: 68%;
    border-left: 3px solid #efefef;
    width: 10px;
    height:80px;
}

.profile {
    background-color: #aaa;
    border-radius: 75%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    margin-left: 70%;
    
}

.profile img {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 75%;
    border: gray 2px solid;
}

.img {
    width: 100px;
    height: 100px;
}

.welcome {
    font-size: 14px;
    width: 100px;
    height: 50px;
    position: absolute;
    margin-top: 1%;
    margin-left: 82%;
}
.name {
    font-size: 16px bold;
    width: 100px;
    height: 50px;
    position: absolute;
    margin-top: 3%;
    margin-left: 82%;
}
.down-arrow:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000;
    margin-top:35px;
    margin-left: 700px;
    position: fixed;
  }

.container{
    background-color: #efefef;
    width: 100%;
    height: 100%;
    margin-top: -40px;
    font-family: 'Roboto', sans-serif;
}
.title{
    font-size: 18px bold;
    width: 90%;
    margin-left: 50px;
    border-bottom: 2px solid #cdc9c8;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #545454;
    
}
.box1{
    background-color: white;
    width: 250px;
    height: 450px;
    margin: 40px 50px;
}
.container h3 {
    margin: 20px;
    color: #545454;
}
.container p{
    margin: 20px;
    color: #cdc9c8;
} 